# dependencias
node_modules

# next.js
/.next/
/out/
next-env.d.ts
*.tsbuildinfo

# vercel
.vercel

# entorno
.env
.env*.local

# sistema
.DS_Store
Thumbs.db

# editores
/.idea
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
